<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FtpServer" value="ftp://subweb2023@201.201.150.185/NuevoProcesamientoJob" />
		<add key="FtpUser" value="subweb2023" />
		<add key="FtpPassword" value="uHOAlc8joRsc41qyRtwN" />
		<add key="SourceFolder" value="C:\Loymark\Subway\Archivos" />
		<add key="AllowedExtensions" value=".dat"/>
		<add key="Timer" value="600000"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>